<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html" />
  <meta name="author" content="KhuongCorp" />
  <meta name="description" content="Learning Nodejs" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="/css/gettingBetter.css" />
  <title>Learning Mode</title>
</head>

<body>
  <!-- change navbar on scroll -->
  <div class="wrapper">
    <header role="banner" class="container">
      <a href="#content" class="skip-links">Skip to main content</a>
      <a href="#sidebar" class="skip-links">Skip to sidebar</a>
      <a href="#footer" class="skip-links">Skip to footer</a>
      <!-- <img src="https://unsplash.it/50/50" alt="some image" /> -->
      <!-- <h1 class="title">This is our header</h1> -->
      <a href="#" class="site-logo" aria-label="homepage"><img src="/images/48in48_logo.png" alt="48in48 Logo" /></a>
      <nav class="main-nav" aria-labeledby="main-navbar">
        <!-- <h2 class="nav-aria-roles" id="main-navbar">Main Nav</h2> -->
        <ul id="nav" class="nav__list">
          <li class="nav__list-item"><a href="">Volunteer</a></li>
          <li class="nav__list-item"><a href="">Nonprofit</a></li>
          <li class="nav__list-item"><a href="">Sponsors</a></li>
          <li class="nav__list-item"><a href="">About Us</a></li>
          <li class="nav__list-item"><a href="">Contact Us</a></li>
        </ul>
      </nav>
      <nav class="account-navbar" aria-labeledby="account-navbar">
        <!-- <h2 class="nav-aria-roles" id="account-navbar">Account Navbar</h2> -->
        <ul class="nav__list">
          <li class="account-nav__list-item">
            <a href="#" class="nav__link--btn">Login</a>
          </li>
          <li class="account-nav__list-item">
            <a href="#" class="nav__link--btn--highlight">Join</a>
          </li>
        </ul>
      </nav>
      <div class="menu-toggle">
        <div class="hamburger"></div>
      </div>
    </header>
    <main>
      <section id="intro" class="home-intro">
        <h1>Welcome to 48in<span class="highlight">48</span>!</h1>
        <p class="intro__paragraph">
          Our free websites help nonprofits that are already doing good, look
          good as well. We build professional quality marketing websites at
          all our events!. Our free websites help nonprofits that are already
          doing good, look good as well. We build professional quality
          marketing websites at all our events!
        </p>
        <form action="#" class="subscrible">
          <p>Subscrible to our Newsletter!</p>
          <label for="">First Name<input type="text" /></label>
          <label for="">Last Name<input type="text" /></label>
          <button class="intro--form-btn" type="submit">Sign Up!</button>
        </form>
      </section>
      <section id="two-card-box-shadow">
        <div class="card-container">
          <h2 class="card-title">Our Promise</h2>
          <p class="card-text">
            Our free websites help nonprofits that are already doing good,
            look good as well. Our free websites help nonprofits that are
            already doing good, look good as well. Our free websites help
            nonprofits that are already doing good, look good as well. Our
            free websites help nonprofits that are already doing good, look
            good as well.
          </p>
        </div>
        <div class="card-container">
          <h2 class="card-title">Thank You to Our Customers</h2>
          <p class="card-text">
            Our free websites help nonprofits that are already doing good,
            look good as well. Our free websites help nonprofits that are
            already doing good, look good as well. Our free websites help
            nonprofits that are already doing good, look good as well. Our
            free websites help nonprofits that are already doing good, look
            good as well.
          </p>
        </div>
      </section>
      <section id="three-price-cards">
        <div class="card-price-container">
          <img src="/images/icon1.png" alt="" />
          <h2 class="card-price-title">Regular Manicures</h2>
          <p class="card-price--text">Lorem ipsum dolor sit amet.</p>
              <p class="card-price--text">Lorem ipsum dolor sit amet.</p>
          <p class="card-price--text">Lorem ipsum dolor sit amet.</p>
          <h3 class="price">$20</h3>
          <button class="card-price-btn btn-default">Free</button>
        </div>
        <div class="card-price-container">
          <img src="/images/icon2.png" alt="" />
          <h2 class="card-price-title">Best Value</h2>
          <p class="card-price--text">Lorem ipsum dolor sit amet.</p>
          <p class="card-price--text">Lorem ipsum dolor sit amet.</p>
          <p class="card-price--text">Lorem ipsum dolor sit amet.</p>
          <h3 class="price">$35</h3>
          <button class="card-price-btn btn-highlight">Regular</button>
        </div>
        <div class="card-price-container">
          <img src="/images/icon3.png" alt="" />
          <h2 class="card-price-title">Deluxe</h2>
          <p class="card-price--text">Lorem ipsum dolor sit amet.</p>
          <p class="card-price--text">Lorem ipsum dolor sit amet.</p>
          <p class="card-price--text">Lorem ipsum dolor sit amet.</p>
          <h3 class="price">$45</h3>
          <button class="card-price-btn btn-default">Premium</button>
        </div>
      </section>
      <section id="image-slider"></section>
      <section id="calculator"></section>
    </main>
    <footer>
      <p></p>
      <ul class="footer__link">
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
      <ul class="footer__link">
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
      <ul class="footer__link">
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
      <ul class="social-list">
        <li class="socail-list__item">
          <a href="#" class="social-list__link">LinkenIn</a>
        </li>
        <li class="socail-list__item">
          <a href="#" class="social-list__link">Github</a>
        </li>
        <li class="socail-list__item">
          <a href="#" class="social-list__link">Codepnen</a>
        </li>
        <li class="socail-list__item">
          <a href="#" class="social-list__link">Twitter</a>
        </li>
      </ul>
    </footer>
  </div>

  <!-- hero section housing our header, navbar, background picture -->
  <!-- card section with box shadow -->
  <!-- img slider section. -->
  <!-- <div class="slider-wrapper">
        <a href="slide-1">1</a>
        <a href="slide-2">2</a>
        <a href="slide-3">3</a>
        <a href="slide-4">4</a>
        <a href="slide-5">5</a>
        <div class="slider">
              <div class="sldes" id="slide-1"></div>
              <div class="sldes" id="slide-2"></div>
              <div class="sldes" id="slide-3"></div>
              <div class="sldes" id="slide-4"></div>
              <div class="sldes" id="slide-5"></div>
          </div>
    </div> -->
  <!-- <script src="./src/js/gettingBetter.js"></script> -->
  <script src="/js/gettingBetter.js"></script>
</body>

</html>
<!-- 
social media icons:
facebook: <i class="fab fa-facebook"></i>
twitter: <i class="fab fa-twitter"></i>
instagram: <i class="fab fa-instagram"></i>
youtube: <i class="fab fa-youtube"></i>
codepen: <i class="fab fa-codepen"></i>
github: <i class="fab fa-github"></i>
linkedIn: <i class="fab fa-linkedin"></i>
 -->