<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="author" content="KhuongCorp" />
    <meta name="description" content="Learning Nodejs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/gettingBetter.css" />
    <title>Learning Mode</title>
  </head>
  <body>
    <!-- change navbar on scroll -->
    <div class="wrapper">
      <header role="banner" class="container">
        <a href="#content" class="skip-links">Skip to main content</a>
        <a href="#sidebar" class="skip-links">Skip to sidebar</a>
        <a href="#footer" class="skip-links">Skip to footer</a>
        <img src="https://unsplash.it/50/50" alt="some image" />
        <h1 class="title">This is our header</h1>
        <nav>
          <ul id="nav" class="mainnav">
            <li class="mainnav__links"><a href="">Volunteer</a></li>
            <li class="mainnav__links"><a href="">Nonprofit</a></li>
            <li class="mainnav__links"><a href="">Sponsors</a></li>
            <li class="mainnav__links"><a href="">About Us</a></li>
            <li class="mainnav__links"><a href="">Contact Us</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <!-- hero section housing our header, navbar, background picture -->
    <!-- card section with box shadow -->
    <!-- img slider section. -->
    <!-- <div class="slider-wrapper">
        <a href="slide-1">1</a>
        <a href="slide-2">2</a>
        <a href="slide-3">3</a>
        <a href="slide-4">4</a>
        <a href="slide-5">5</a>
        <div class="slider">
              <div class="sldes" id="slide-1"></div>
              <div class="sldes" id="slide-2"></div>
              <div class="sldes" id="slide-3"></div>
              <div class="sldes" id="slide-4"></div>
              <div class="sldes" id="slide-5"></div>
          </div>
    </div> -->
    <!-- <script src="./src/js/gettingBetter.js"></script> -->
    <script src="/js/gettingBetter.js"></script>
  </body>
</html>
