<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="author" content="KhuongCorp" />
    <meta name="description" content="Learning Nodejs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/gettingBetter.css" />
    <title>Learning Mode</title>
  </head>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, pariatur.
    </p>
    <!-- change navbar on scroll -->
    <!-- hero section housing our header, navbar, background picture -->
    <!-- card section with box shadow -->
    <!-- img slider section. -->
    <!-- <div class="slider-wrapper">
        <a href="slide-1">1</a>
        <a href="slide-2">2</a>
        <a href="slide-3">3</a>
        <a href="slide-4">4</a>
        <a href="slide-5">5</a>
        <div class="slider">
              <div class="sldes" id="slide-1"></div>
              <div class="sldes" id="slide-2"></div>
              <div class="sldes" id="slide-3"></div>
              <div class="sldes" id="slide-4"></div>
              <div class="sldes" id="slide-5"></div>
          </div>
    </div> -->
    <!-- <script src="./src/js/gettingBetter.js"></script> -->
    <script src="/js/gettingBetter.js"></script>
  </body>
</html>
