/*** Custom varibles ***/
:root {
  --clr-primary: #ee6352;
  --clr-body: #333;
  --clr-bg: #ddd;
  --inner-space: 1em;
}

/*** Reset ***/

html {
  font-size: 62.3%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: var(--clr-body);
  font-size: 2rem;
}

h1,
h2,
h3,
p,
body,
figure,
figcaption,
blockquote,
dl,
/*
figcaption has no default margin
dd has margin-left: 40px*/
dd {
  margin: 0;
}

ul[class],
li[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}
a[href] {
  text-decoration: none;
  color: var(--fg, teal);
}

.title {
  color: rgba(255, 255, 255, 1);
}

/*** layout ***/
/* .wrapper {
  display: grid;
  grid-template-columns: [col1-start]1em[col1-end col2-start]1fr[col2-end col3-start]1em[col3-end];
  grid-template-rows: auto;
} */
/* 
.container {
  grid-column: col1-start / col3-end;
  display: flex;
} */

/*** Utilities: skip links and landmarks ***/
.skip-links {
  /* our texts are centered and we didn't have to add width or height*/
  display: inline-block;
  border: 1px solid white;
  border-radius: 2em;
  background: white;
  padding: 1em;
  position: absolute;
  transform: translateY(-4em);
  transition: transform 0.5s linear;
}

.skip-links:focus {
  transform: translateY(0);
  outline: 0;
  box-shadow: 0 0 0 0.3em rgba(85, 185, 185, 0.849);
}

.nav-aria-roles {
  opacity: 0;
}

/*** hamburger buttons ***/

.menu-toggle {
  position: absolute;
  top: 1em;
  right: 1em;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #55aee0;
  width: 1em;
  height: 0.2em;
  border-radius: 0.5em;
  transition: transform 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6),
    opacity 0.5s linear;
}

.hamburger::before {
  transform: translateY(-0.4em);
}

.hamburger::after {
  transform: translateY(0.2em);
}

.open .hamburger {
  transform: rotate(45deg);
}
.open .hamburger::before {
  opacity: 0;
}
.open .hamburger::after {
  transform: translateY(-0.2em) rotate(90deg);
}

.site-logo > img {
  max-height: 2.3em;
}

[id="nav"] {
  text-align: center;
  margin: 1em 0 0 0;
}

.main-nav {
  /* when we didn't have the background on this element or this selector. it didn't cover the whole screen*/
  position: absolute;
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0.7em 0 0 0;
  background: #55aee0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  clip-path: circle(0% at top right);
  transition: clip-path 0.5s linear;
}

.show-main-nav {
  clip-path: circle(150%);
}
.nav__list-item.nav__list-item {
  padding: 2.1em 0;
  border: 1px solid #eee;
  --fg: #eee;
}

.account-navbar {
  position: absolute;
  top: 0.5em;
  left: 50%;
  width: 30%;
}

.account-nav__list-item.account-nav__list-item {
  font-size: 1.8rem;
  --fg: #1d9ce3;
}
.account-nav__list-item:first-of-type {
  float: left;
}
.account-nav__list-item:last-of-type {
  float: right;
}

/*** Main section ***/
.highlight {
  color: #eee;
}

[id="intro"] {
  background: rgb(97, 188, 238);
  margin: 1em 0 0 0;
  font-size: 1.6rem;
  text-align: center;
  /* background: linear-gradient(
    322deg,
    rgba(97, 188, 238, 1) 0%,
    rgba(155, 212, 244, 1) 9%
  ); */
}

[id="intro"] > h1 {
  font-size: 4.7rem;
}
.subscrible {
  border: 1px solid #eee;
  background: #ddd;
  /* margin: 0.8em 0; */
  padding: var(--inner-space);
  text-align: start;
  font-size: 2.5rem;
}
.intro__paragraph {
  font-size: 1.6rem;
  margin: 0 0 0.5em 0;
}

.subscrible input {
  display: block;
  height: 2.1em;
}

.subscrible label {
  font-size: 2.1rem;
}

.intro--form-btn {
  margin: 1em 0 0 0;
  background: #55aee0;
  padding: 0.6em 1.2em;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: #eee;
  font-weight: 900;
}

/*** two card sections ***/

.card-container {
  background: var(--bg, #eee);
  color: var(--clr-primary);
  border: 0.5em solid;
}

.card-container:first-child {
  padding: 0.5em 1em 0.3em;
  border-bottom: 0;
}

.card-container:last-child {
  padding: 0.2em 1em 0.5em;
}

.card-title {
  font-weight: 900;
  font-size: 3rem;
}

.card-text {
  font-size: 1.6rem;
}

/*** price-cards ***/

[id="three-price-cards"] {
  text-align: center;
  background: var(--card-bg, #eee);
  color: var(--card-fg, #016ff9);
}

.card-price-container {
  width: 85%;
  margin: 0 auto;
  padding: 0 0 0.5em 0;
}

.card-price-container:nth-of-type(2) {
  border-top: 0.1em solid #a2c0e5;
  border-bottom: 0.1em solid #a2c0e5;
  /* margin: 0.5em auto 0em; */
}

.card-price-title {
  color: #888;
  font-size: 3.5rem;
}

.card-price--text {
  font-size: 1.6rem;
  border-top: 0.1em solid #a2c0e5;
}

.card-price--text {
  padding: 0.7em 0;
}

.card-price--text:last-of-type {
  padding: 0.7em 0 0 0;
}

.price {
  font-size: 3.5rem;
}

.card-price-btn {
  border: 0.1em solid #a2c0e5;
  padding: 0.7em 2em 0.7em;
  border-radius: 0.5em;
  text-transform: uppercase;
}
/* 
getting better
input:not(:focus-within) {
  background-color: rgba(215, 185, 185, 0.549);
}
input:focus {
  background-color: rgba(185, 85, 185, 0.549);
} */
/* [id="nav"] {
  display: flex;
} */
