/*** Custom varibles ***/
:root {
  --clr-primary: #ee6352;
  --clr-body: #333;
  --clr-bg: #ddd;
}

/*** Reset ***/

html {
  font-size: 62.3%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: var(--clr-body);
  font-size: 2rem;
}

h1,
h2,
h3,
p,
body,
figure,
figcaption,
blockquote,
dl,
/*
figcaption has no default margin
dd has margin-left: 40px*/
dd {
  margin: 0;
}

ul[class],
li[class] {
  list-style: none;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}
a[href] {
  text-decoration: none;
  color: var(--skiplink-fg, teal);
}

.title {
  color: rgba(255, 255, 255, 1);
}

/*** layout ***/
/* .wrapper {
  display: grid;
  grid-template-columns: [col1-start]1em[col1-end col2-start]1fr[col2-end col3-start]1em[col3-end];
  grid-template-rows: auto;
} */
/* 
.container {
  grid-column: col1-start / col3-end;
  display: flex;
} */

/*** Utilities: skip links and landmarks ***/
.skip-links {
  /* our texts are centered and we didn't have to add width or height*/
  display: inline-block;
  border: 1px solid white;
  border-radius: 2em;
  background: white;
  padding: 1em;
  position: absolute;
  transform: translateY(-4em);
  transition: transform 0.5s linear;
}

.skip-links:focus {
  transform: translateY(0);
  outline: 0;
  box-shadow: 0 0 0 0.3em rgba(85, 185, 185, 0.849);
}

.nav-aria-roles {
  opacity: 0;
}

/*** hamburger buttons ***/

.menu-toggle {
  position: absolute;
  top: 1em;
  right: 1em;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #55aee0;
  width: 1em;
  height: 0.2em;
  border-radius: 0.5em;
}

.hamburger::before {
  transform: translateY(-0.4em);
}

.hamburger::after {
  transform: translateY(0.2em);
}

.site-logo > img {
  max-height: 2.3em;
}

[id="nav"] {
  text-align: center;
  height: 100vh;
  margin: 1em 0 0 0;
}

.nav__list-item.nav__list-item {
  padding: 2.1em 0;
  background: white;
  border: 1px solid black;
}
/* [id="nav"] {
  display: flex;
} */
